/* botones de acciones */

.card-actions {
    display:flex;
    gap:10px;
    margin-top:50px;
    flex-wrap:wrap;   /* permite bajar botones a otra línea */
    width:100%;

}


.card-actions button:hover {
    transform:translateY(-2px);
    box-shadow:
        0 5px 15px var(--option-button-color-secondary)
}
.card-actions button {
    border:none;
    border-radius:12px;
    padding:8px 14px;
    background:var(--option-button-color-primary);
    color: var(--text_option-button-color);
    cursor:pointer;
    font-weight:1000;
    transition:.2s ease;
    flex:1 1 auto;  /* se adaptan al espacio disponible */
    min-width:100px; /* evita botones demasiado pequeños */
}
